<h1>Stupid Coaching</h1>

<div class="border">
  <div class="question">
    <%= @question %>
  </div>
  <br> <p> -You</p>
</div> <br> <br>
<div class="border answer">
  <em> <%= @answer %> </em>
  <br> <p>-Your Coach</p>
</div><br> <br>
<div class="link">
  <%= link_to "Ask another question", "/ask" %>
</div>
